{% extends "layouts/main6.html" %}

{% block pageTitle %}
  Check claimant contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/v7/reg/deceased-search" method="post">

 <h1 class="govuk-heading-l">Check Mark John Smith's phone number</h1>


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  classes: "govuk-summary-list--no-border",
  rows: [
    {
      key: {
        text: "Phone number"
      },
      value: {
        html: '<p class="govuk-body">0113 4568 246</p>'
      }
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set phoneHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contactByPhone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-half",
  label: {
    text: "Phone number on claim form"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "updatenumber",
  value: "updatenumber",
  fieldset: {
    legend: {
      text: "Does the phone number match the claim form?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No",
      conditional: {
        html: phoneHtml
      }
    }
  ]
}) }}

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>

  </div>
</div>


{% endblock %}
