{% extends "layouts/main4.html" %}

{% block pageTitle %}
Details of person applying on behalf of claimant – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v4/e/application-date" method="post">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        Deceased details
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="full-name">
          Full name
        </label>
        <input class="govuk-input" id="full-name" name="deceasedname" type="text" spellcheck="false" autocomplete="name">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-deceased">
          <legend class="govuk-label govuk-label--s">
            Date of birth
          </legend>
          <div class="govuk-date-input" id="dob-partner">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day-deceased">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day-deceased" name="dob-day-deceased" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month-deceased">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month-deceased" name="dob-month-deceased" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year-deceased">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year-deceased" name="dob-year-deceased" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <legend class="govuk-label govuk-label--s">
            Date of death
          </legend>
          <div class="govuk-date-input" id="dod-deceased">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-day-deceased">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-day-deceased" name="dod-day-deceased" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-month-deceased">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dod-month-deceased" name="dod-month-deceased" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dod-year-deceased">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dod-year-deceased" name="dod-year-deceased" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}
        
      </form>


  </div>
</div>


{% endblock %}
