{% extends "layouts/main2.html" %}

{% block pageTitle %}
  Money to pay for the funeral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v1/funeral/accept-costs" method="post">

          {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
          {% from "govuk/components/input/macro.njk" import govukInput %}
          
          {% set plotHtml %}
          {{ govukInput({
            id: "plot",
            name: "plot",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set burialHtml %}
          {{ govukInput({
            id: "burial",
            name: "burial",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set cremHtml %}
          {{ govukInput({
            id: "crem",
            name: "crem",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set doctorHtml %}
          {{ govukInput({
            id: "doctor",
            name: "doctor",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set docsHtml %}
          {{ govukInput({
            id: "docs",
            name: "docs",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set travelHtml %}
          {{ govukInput({
            id: "travel",
            name: "travel",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set bodyHtml %}
          {{ govukInput({
            id: "body",
            name: "body",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set pacemakerHtml %}
          {{ govukInput({
            id: "pacemaker",
            name: "pacemaker",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {% set otherexpHtml %}
          {{ govukInput({
            id: "otherexp",
            name: "otherexp",
            spellcheck: false,
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-5",
            label: {
              text: ""
            }
          }) }}
          {% endset -%}

          {{ govukCheckboxes({
            name: "funeral-costs",
            value: "funeral-costs",
            fieldset: {
              legend: {
                text: "Enter funeral costs requested",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "plot",
                text: "Burial plot",
                conditional: {
                  html: plotHtml
                }
              },
              {
                value: "burial",
                text: "Burial costs",
                conditional: {
                  html: burialHtml
                }
              },
              {
                value: "crem",
                text: "Cremation costs",
                conditional: {
                  html: cremHtml
                }
              },
              {
                value: "doctor",
                text: "Doctors certificates",
                conditional: {
                  html: doctorHtml
                }
              },
              {
                value: "docs",
                text: "Documentation to release money",
                conditional: {
                  html: docsHtml
                }
              },
              {
                value: "travel",
                text: "Travel to arrange or attend funeral",
                conditional: {
                  html: travelHtml
                }
              },
              {
                value: "body",
                text: "Moving body over 50 miles",
                conditional: {
                  html: bodyHtml
                }
              },
              {
                value: "pacemaker",
                text: "Removal of pacemaker",
                conditional: {
                  html: pacemakerHtml
                }
              },
              {
                value: "otherexp",
                text: "Other funeral expenses",
                conditional: {
                  html: otherexpHtml
                }
              }
            ]
          }) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>


  </div>
</div>


{% endblock %}
