{% extends "layouts/main3.html" %}

{% block pageTitle %}
  Money to pay for the funeral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <form class="form" action="/v5/tasklist-blank" method="post">
<!--     
          <h1 class="govuk-heading-l">
            Confirm award amount
          </h1>

          <p class="govuk-body">There's no money in the deceased estate or funeral cost reductions. </p> -->
<!-- 
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-two-thirds">Funeral costs requested</th>
                <td class="govuk-table__cell"><b>£2356.00</b></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular">Money from deceased's estate</th>
                <td class="govuk-table__cell">None</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-two-thirds govuk-!-font-weight-regular">Funeral cost reductions</th>
                <td class="govuk-table__cell">None</td>
              </tr>
            </tbody>
          </table> -->

    
            {{ govukRadios({
              classes: "govuk-radios--inline",
              name: "confirmaward",
              fieldset: {
                legend: {
                  text: "Can you confirm the award amount is £2365.00?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "There's no money in the deceased's estate and all funeral costs have been accepted."
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>


  </div>
</div>


{% endblock %}
