{% extends "layouts/main2.html" %}

{% block pageTitle %}
  Money to pay for the funeral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v1/tasklist-blank" method="post">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <!-- <h2 class="govuk-heading-m">Money available</h2> -->

      <!-- <p>
        {{ data['moneytype'] }} <br>
        {{ data['cash'] }}
    </p> -->


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Money available
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v1/money/available">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bank accounts
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['accounts'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v1/money/type">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Pension
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['pension'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/v1/money/type">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
    </dl>


{{ govukButton({
  text: "Continue"
}) }}

</form>


  </div>
</div>


{% endblock %}
