{% extends "layouts/main3.html" %}

{% block pageTitle %}
  Funeral director bank details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if (data['whotopay'] == "director") %}

    <form class="form" action="/v2/payee/cya" method="post">

   {% else %}

   <form class="form" action="/v2/payee/claimant-bank" method="post">

  {% endif %}

      <h1 class="govuk-heading-l">Funeral director bank details</h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="fd-name-on-the-account">
          Name on the account
        </label>
        <input class="govuk-input" id="fd-name-on-the-account" name="fd-nameOnTheAccount" type="text" spellcheck="false" autocomplete="name">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort-code">
          Sort code
        </label>
        <div id="sort-code-hint" class="govuk-hint">
          Must be 6 digits long
        </div>
        <input class="govuk-input govuk-input--width-5 govuk-input--extra-letter-spacing" id="fd-sort-code" name="fd-sortCode" type="text" spellcheck="false" aria-describedby="sort-code-hint" inputmode="numeric">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="account-number">
          Account number
        </label>
        <div id="account-number-hint" class="govuk-hint">
          Must be between 6 and 8 digits long
        </div>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="fd-account-number" name="fd-accountNumber" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="roll-number">
          Building society roll number (if they have one)
        </label>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="roll-number" name="rollNumber" type="text" spellcheck="false" aria-describedby="roll-number-hint">
      </div>
      
{{ govukButton({
  text: "Continue"
}) }}

</form>


  </div>
</div>


{% endblock %}
