{% extends "layouts/main6.html" %}

{% block pageTitle %}
  Funeral director details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v11/b/poa/poa-address" method="post">

      <h1 class="govuk-heading-l">
        Power of attorney details
      </h1>

      {{ govukInput({
        label: {
          text: "Full name"
        },
        classes: "govuk-!-width-full",
        id: "poa-name",
        name: "poa-name", 
        value: data['poa-name']
      }) }}
    
      {{ govukInput({
        label: {
          text: "UK phone number"
        },
        classes: "govuk-input--width-20",
        id: "poa-num",
        name: "poa-num", 
        value: data['poa-num']
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}
        
      </form>


  </div>
</div>


{% endblock %}
