{% extends "layouts/main6.html" %}

{% block pageTitle %}
Funeral costs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v6/funeral/accept-other-expenses" method="post">

      {% set adjustburialHtml %}
      {{ govukInput({
        id: "adjustburial",
        name: "adjustburial",
        spellcheck: false,
        prefix: {
          text: "£"
        },
        classes: "govuk-input--width-5",
        label: {
          text: "Enter exact amount"
        }
      }) }}
      {% endset -%}

      <!-- <h1 class="govuk-heading-l">Funeral costs accepted</h1> -->

      {{ govukRadios({
        name: "acceptburial",
        fieldset: {
          legend: {
            text: "Award £" + data['burial'] +  " for burial costs?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "",
            text: "No, change amount",
            conditional: {
              html: adjustburialHtml
            }
          },
          {
            divider: "or"
          },
          {
            value: "abroad",
            text: "Fully covered by pre-paid funeral plan"
          }
        ]
      }) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>


  </div>
</div>


{% endblock %}
