{% extends "layouts/main4.html" %}

{% block pageTitle %}
  Check answers before registering claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <form action="/v4/a/claim-registered" method="post" novalidate>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check answers before registering claim</h1>
        <h2 class="govuk-heading-m">Claimant details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data.claimantnino }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
             Mark John Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Update phone number 
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">No</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Do they have partner
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Deceased details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data.deceasednino }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
            Mary Jane Smith
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Application details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date of application
            </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['applicationdate-day'] }} 
                  {{ data['applicationdate-month']
                  | replace("11", "November")
                  | replace("12", "December")
                  | replace("01", "January")
                  | replace("02", "February")
                  | replace("03", "March")
                  | replace("04", "April")
                  | replace("05", "May")
                  | replace("06", "June")
                  | replace("07", "July")
                  | replace("08", "August")
                  | replace("09", "September")
                  | replace("10", "October")
                  | replace("1", "January")
                  | replace("2", "February")
                  | replace("3", "March")
                  | replace("4", "April")
                  | replace("5", "May")
                  | replace("6", "June")
                  | replace("7", "July")
                  | replace("8", "August")
                  | replace("9", "September") }}
                  {{ data['applicationdate-year'] }}
                </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
        </dl>
  
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Register claim
          </button>
        </form>
      </div>
    </div>

</div>


{% endblock %}
