{% extends "layouts/main4.html" %}

{% block pageTitle %}
  Fin deceased – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

 <h1 class="govuk-heading-l">Search for deceased</h1>

 <div class="moj-search">
  <form action="/v4/a/deceased-results" method="post">
    <div class="govuk-form-group">
      <label class="govuk-label moj-search__label" for="search">
        Enter deceased's National Insurance number
      </label>
      <input class="govuk-input govuk-input--width-10 moj-search__input " id="search" name="deceasednino" type="search" aria-describedby="search-hint">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" 
      style= "margin-left: 6px;">
        Search
      </button>
    </div>
 </form>
</div>

<p class="govuk-body">
  <a href="/v4/a/deceased-no-nino" class="govuk-link govuk-link--no-visited-state">Deceased's National Insurance number is not available</a>
</p>


{% endblock %}
