{% extends "layouts/main2.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
       
        <a href="/hmrc-design-patterns/" class="app-card">
          <h3 class="govuk-heading-s app-card__heading">Telephony application</h3>
          <p class="govuk-body">[Enter content]</p>
        </a>
        
      </div>
      <div class="govuk-grid-column-one-third">
        
        <a href="/hmrc-design-patterns/" class="app-card">
          <h3 class="govuk-heading-s app-card__heading">Register a claim</h3>
          <p class="govuk-body">[Enter content]</p>
        </a>
       
      </div>
      <div class="govuk-grid-column-one-third">
       
        <a href="/hmrc-design-patterns/" class="app-card">
          <h3 class="govuk-heading-s app-card__heading">Find a claim</h3>
          <p class="govuk-body">[Enter content]</p>
        </a>
       
      </div>
    </div>
  </main>
</div>






{% endblock %}
