{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
               Design review: Tasks for making payment
            </span>
          </h2>
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Start",
            href: "/v5/claimant-nino"
          }) }}
          
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">

          <p class="govuk-body">Includes change to flow where we do not capture any FD details if we are not paying them.</p>
 


</div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
               2nd round of UR: Registration journey
            </span>
          </h2>
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "A",
            href: "/v4/a/start-claim"
          }) }}
          {{ govukButton({
            text: "B",
            href: "/v4/b/start-claim"
          }) }}
          {{ govukButton({
            text: "C",
            href: "/v4/c/start-claim"
          }) }}
          {{ govukButton({
            text: "D",
            href: "/v4/d/start-claim"
          }) }}
          {{ govukButton({
            text: "E",
            href: "/v4/e/start-claim"
          }) }}
          
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">

          <p class="govuk-body">This flow is to test the 'happy path' registration journey that is carried out by AA's.</p>

</div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Single payment journey
            </span>
          </h2>
          
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Start journey",
            href: "/v3/deceased-nino"
          }) }}

         

          <p class="govuk-body">Iterating the journey to only pay the funeral director for build one.</p>

</div>


      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Iterations from UR & new requirements
            </span>
          </h2>

        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      
          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Start journey",
            href: "/v2/deceased-nino"
          }) }}

          <p class="govuk-body">Iterating the journey based on UR recommendations and payment requirements.</p>


        
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Quick links
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/v2/tasklist-blank">Tasklist</a>
      </li>
      <li>
        <a class="govuk-link" href="/v2/home">Homepage</a>
      </li>
      <li>
        <a class="govuk-link" href="/v2/register-a-claim">Register a claim</a>
      </li>
      <li>
        <a class="govuk-link" href="/v2/find-a-claim">Find a claim</a>
      </li>
    </ul>
  </div>
</details>

</div>



      

      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              1st round of UR: Making a split payment
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Start journey",
            href: "/v1/tasklist-blank"
          }) }}
          <p class="govuk-body">W/c 22nd of September - This round focuses on the usability of individul tasks that are required to process a claim. This is not an end to end journey.</p>


        
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Quick links
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/v1/tasklist-blank">Tasklist for testing with agents</a>
      </li>
      <li>
        <a class="govuk-link" href="/v1/tasklist">Tasklist</a>
      </li>
      <li>
        <a class="govuk-link" href="/v1/home">Homepage</a>
      </li>
      <li>
        <a class="govuk-link" href="/v1/register-a-claim">Register a claim</a>
      </li>
      <li>
        <a class="govuk-link" href="/v1/find-a-claim">Find a claim</a>
      </li>
    </ul>
  </div>
</details>

</div>



      

      </div>
    </div>

  </div>
</div>

{% endblock %}
