{% extends "layouts/main2.html" %}

{% block pageTitle %}
  Money to pay for the funeral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
 
    <form class="form" action="/v1/tasklist-blank" method="post">
    
          <h1 class="govuk-heading-l">
            Confirm award amount
          </h1>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Funeral costs requested</th>
                  <td class="govuk-table__cell">£2996.600</td>
                </tr>
              </thead>
            </tbody>
          </table>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Funeral costs reductions</th>
              <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Cremation costs</th>
                <td class="govuk-table__cell">- £90.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Other funeral expenses</th>
                <td class="govuk-table__cell">- £100.000</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Money from deceased</th>
              <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Bank accounts</th>
                <td class="govuk-table__cell">- £150.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Other money</th>
                <td class="govuk-table__cell">- £75.00</td>
              </tr>
            </tbody>
          </table>

  
    
            {{ govukRadios({
              name: "confirmaward",
              fieldset: {
                legend: {
                  text: "Can you confrim the award amount is £2660.00?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>


  </div>
</div>


{% endblock %}
