{% extends "layouts/main2.html" %}

{% block pageTitle %}
  Money to pay for the funeral – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/v1/eligibility/live-in-uk" method="post">


{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
name: "responsibleforpaying",
values: data["responsibleforpaying"],
fieldset: {
  legend: {
    text: "Is the funeral taking place in the UK, EEA or Switzerland?",
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
  }
},
items: [
  {
    value: "yes",
    text: "Yes"
  },
  {
    value: "no",
    text: "No"
  }
]
}) }}

        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

</form>


  </div>
</div>


{% endblock %}
